/*
Touristr CSS

Author: Conor Wade
Copyright: © 2008 Tourist Republic
Date: 4rd March 2008
------------------------------------------------------------------------------------------*/

/*
Reset
------------------------------------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { background: #fff; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }
a { outline: none; } /* Removes Firefox imposed outline */

/*
General Styles
-------------------------------------------------------------------------------------------*/

body { background: #fff; font: 500 12px/1.5 "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif; }

/*
Typography
-------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { font-weight: 300; color: #333; letter-spacing: 1px; margin: 30px 0 10px; }

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px;  }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p, ul, ol, dl { font-size: 13px; color: #666; margin: 10px 0 20px; }

/* Links */

a:link, a:visited { color: #1f76bd; text-decoration: none; }
a:hover, a:active { color: #cc00cc; }

/* Forms */
fieldset {  }
legend {  }
label { float: left; width: 150px; }
input { border: #fff;  }
input[type="text"] { -moz-border-radius: 10px; -webkit-border-radius: 10px; }
input[type="submit"], input.button { border: #1f76bd; background: #1f76bd; color: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
input.formDescription { color: #bbb; }

/* Clear Div */
.clearBoth { clear: both; }
.clearRight { clear: right; }
.clearLeft { clear: left; }

/* 2 Column Layout */
.mainContent { width: 49%; float: left; }
.secondaryContent { width: 49%; float: right; }

/* Main Sidebar Layout */
.content { width: 74%; float: left; }
.sidebar { width: 25%; float: right; }

/* Search Results Autocomplete */
div.ac_results { background: transparent url(../images/autocomplete/arrow.png) no-repeat 10px 1px; padding: 0 0 0; }
div.ac_results ul { background: #000; background: rgba(0, 0, 0, 0.9); -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 5px 10px 20px; font-size: 12px; font-weight: 300; list-style: none; width: 105%; }
div.ac_results ul li { padding: 1px 7px; letter-spacing: 1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
div.ac_results li.ac_over { background: #222; }


/*
Planning Template
-------------------------------------------------------------------------------------------*/

div#wrapper { width: 94%; margin: 0 auto; min-width: 960px; }

/* Header */

ul#userControls { background: RGBa(0, 0, 0, 0.90); position: absolute; top: 0; left: 0; width: 96%; min-width: 960px; text-align: right; padding: 4px 2% 8px; font-size: 14px; margin: 0; }
ul#userControls li { display: inline; padding: 0 3% 0 0; }

div#logo { margin: 50px 0 20px; float: left; }
div#logo h1 {  background: #fff url(../images/header/mainLogo.png) no-repeat; text-indent: -9000em; display: block; width: 350px; margin: 0; }
div#logo h1 a { display: block; padding: 0 0 30px; }
div#logo p#tagline { color: #333; visibility: hidden; }

div#destinationSearchForm { float: right; margin: 80px 0 0; text-align: right; }

div#destinationSearchForm input { padding: 0 5px; font-size: 16px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 2px solid #ddd; /*width: 50%;*/ }
div#destinationSearchForm input.button { font-size: 14px; /*width: 30%;*/ border-color: #1f76bd; background: #1f76bd; color: #fff; padding: 0 30px; margin: 0 0 0 10px; }
div#destinationSearchForm input[type="input"] { -webkit-appearance: searchfield; }

/* Trip Control */

ul#tripControl { position: fixed; bottom: 0; left: 0; background: #111; background: rgba(0,0,0, 0.90); list-style: none; text-align: right; width: 100%; font-size: 13px; padding: 10px 1px 10px 0; font-weight: 300; margin: 0; }
ul#tripControl li { display: inline; margin: 0 23px 0; letter-spacing: 1px; }
ul#tripControl li a { position: relative; top: 7px; }
ul#tripControl li a:link, ul#tripControl li a:visited { color: #a9a9a9; }
ul#tripControl li a:hover, ul#tripControl li a:active, ul#tripControl li a.current { color: #1f76bd; }
ul#tripControl li#tripName { position: none; float: left; font-size: 20px; }
ul#tripControl li#tripName a { top: 0; color: #1f76bd; }
ul#tripControl li#tripName a:hover, ul#tripControl li#tripName a:active { color: #cc00cc; }

/*Trip Control Icons Inactive*/
ul#tripControl li#tripPeople a { background: transparent url(../images/tripControl/people.png) no-repeat left top; padding: 10px 0 10px 38px; }
ul#tripControl li#tripItinerary a { background: transparent url(../images/tripControl/itinerary.png) no-repeat left top; padding: 10px 0 10px 48px; }
ul#tripControl li#tripComments a { background: transparent url(../images/tripControl/comments.png) no-repeat left 1px; padding: 10px 0 10px 40px; }
ul#tripControl li#tripBudget a { background: transparent url(../images/tripControl/budget.png) no-repeat left 2px; padding: 10px 0 10px 33px; }
ul#tripControl li#tripTodos a { background: transparent url(../images/tripControl/todos.png) no-repeat left 3px; padding: 10px 0 10px 36px; }

/* Trip Control Icons Active */
ul#tripControl li#tripPeople a:hover, ul#tripControl li#tripPeople a.current { background: transparent url(../images/tripControl/people.png) no-repeat left -50px; }
ul#tripControl li#tripItinerary a:hover, ul#tripControl li#tripItinerary a.current { background: transparent url(../images/tripControl/itinerary.png) no-repeat left -49px; }
ul#tripControl li#tripComments a:hover, ul#tripControl li#tripComments a.current { background: transparent url(../images/tripControl/comments.png) no-repeat left -41px; }
ul#tripControl li#tripBudget a:hover, ul#tripControl li#tripBudget a.current { background: transparent url(../images/tripControl/budget.png) no-repeat left -39px; }
ul#tripControl li#tripTodos a:hover, ul#tripControl li#tripTodos a.current { background: transparent url(../images/tripControl/todos.png) no-repeat left -37px; }

/*
Destination Navigation Menu
-----------------------------------------------------------------------------------------------------*/

ul#destinationNavigation { list-style: none; text-align: right; clear: both; margin: 0 0 3% 0; }
ul#destinationNavigation li { display: inline; font-size: 14px; position: relative; top: 20px; }
ul#destinationNavigation li a:link, ul#destinationNavigation li a:visited { padding: 50px 2% 0; }
ul#destinationNavigation li a:hover, ul#destinationNavigation li a:active { color: #1f76bd; }

ul#destinationNavigation li#destinationSwitcher { float: left; top: 0; }
ul#destinationNavigation li#destinationSwitcher h2 { margin: 0; }
ul#destinationNavigation li#destinationSwitcher a { padding: 0; }

ul li#overview a:link, ul li#overview a:visited { background: white url(../images/destinationNavigation/overview.png) no-repeat center -72px;}
ul li#flights a:link, ul li#flights a:visited { background: white url(../images/destinationNavigation/flights.png) no-repeat center top; }
ul li#hotels a:link, ul li#hotels a:visited { background: white url(../images/destinationNavigation/hotels.png) no-repeat center top; }
ul li#attractions a:link, ul li#attractions a:visited { background: white url(../images/destinationNavigation/attractions.png) no-repeat center top; }
ul li#activities a:link, ul li#activities a:visited { background: white url(../images/destinationNavigation/activities.png) no-repeat center top; }
ul li#carRentals a:link, ul li#carRentals a:visited { background: white url(../images/destinationNavigation/carRental.png) no-repeat center top; }

/* hover on links */

ul li#overview a:hover, ul li#overview a:active, ul#destinationNavigation li#overview a.current { background: white url(../images/destinationNavigation/overview.png) no-repeat center 2px;}
ul li#flights a:hover, ul li#flights a:active, ul#destinationNavigation li#flights a.current { background: white url(../images/destinationNavigation/flights.png) no-repeat center -73px;}
ul li#hotels a:hover, ul li#hotels a:active, ul#destinationNavigation li#hotels a.current { background: white url(../images/destinationNavigation/hotels.png) no-repeat center -73px;}
ul li#attractions a:hover, ul li#attractions a:active, ul#destinationNavigation li#attractions a.current { background: white url(../images/destinationNavigation/attractions.png) no-repeat center -73px; }
ul li#activities a:hover, ul li#activities a:active, ul#destinationNavigation li#activities a.current { background: white url(../images/destinationNavigation/activities.png) no-repeat center -74px; }
ul li#carRentals a:hover, ul li#carRentals a:active, ul#destinationNavigation li#activities a.current { background: white url(../images/destinationNavigation/carRental.png) no-repeat center -79px; }


/*
Overview
-------------------------------------------------------------------------------------------*/

p#destinationIntroduction { font-size: 18px; font-weight: 300; margin: 70px 0 40px 0; }

ul.destinationPhotoGallery { list-style: none; }
ul.destinationPhotoGallery li { display: inline; margin: 0 7px 0 0; }

/*
Thickbox heading
-------------------------------------------------------------------------------------------*/

div#TB_window h3 { margin: 0; font-size: 40px; padding: 6px 0 16px; font-weight: 600; }
div#TB_window div.row { margin: 0 30px 0 0; font-size: 14px; font-weight: 300; margin: 5px 0 5px; clear: both; }
div#TB_window input { font-size: 14px; padding: 2px 8px; }

/*
Ajax Messages
-------------------------------------------------------------------------------------------*/

#message {padding: 4px; z-index: 100000; position: fixed; top: 38%; left: 40%; display: none; background: black; color: white; font-size: 18px;}
#waiter { z-index:100000; position: fixed; top: 50%; display: none; left: 50%; text-align: center;  }
/* Ajax loading */

div#waiter p { color: #fff; font-size: 18px; font-weight: 300; background: #000;  background: rgba(0, 0, 0, 0.9); margin: 0 auto; width: 200px; position: relative; left: -100px; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 0px 5px 10px; }
div#waiter img { position: relative; top: 10px; left: 5px; }


/*
Translation Needed
-------------------------------------------------------------------------------------------*/

span.translation_missing { background: #ffa49d; }
.static_content { background: #93ff91; }


