Hi <%= @user.f %>

Your password has been changed.

Your user name is: <%= @user.login %>
Your new password is: <%= @new_password %>

You can log in at <%= url_for :controller=>"accounts",:action=>"login" %>.

Thanks,
Jan Blanchard
