<%= t("Hi")%> <%= @user.f %>
<%= t("Your password has been changed")%>.

<%= t("Your user name is")%>: <%= @user.login %>
<%= t("Your new password is")%>: <%= @new_password %>

<%= t("You can log in at")%> <%= url_for :controller=>"accounts",:action=>"login" %>.

<%= t("Thanks")%>,
Jan Blanchard
