<%=t("Hi")%> <%= @invited_person.f %>,

<%= @invitee_person.f %> <%=t("invite_text_message")%> :

http://touristr.com/signup 

(<%=t("Signup with")%> <%= @invited_person.email %>)

<%=t("view_trip_detail_message")%>: <%= @trip.private_url %>


<% unless @message.blank? %>
<%=t("invitee_message")%> <%= @invitee_person.f %>:

<%= @message %>

<% end %>

<%=t("Thanks"),
Jan Blanchard of touristr.com