

<%=t("Thanks for signing up with")%> touristr.com
    
<%=t("Your user name is")%> '<%= @user.login %>'. 
<%=t("Your password is the same as what you used to create your user account")%>.



<%="Thanks"%>,
Jan Blanchard