
%form{:action=>search_destinations_path, :method=>:get}
  #destinationSearchForm
    %p
      %label{:for=>"destinationSearch"}= t "Where do you want to go?"
      %input.destinationSearch{:type=>'input', :size => 30}
      %input{:type=>'submit', :value=> t("Plan"), :class => 'button'}
      
- content_for :javascripts do
  :javascript
    $(function(){
    $('.destinationSearch').autocomplete('/destinations/search', {}).result(function(event, item) { 
      puts(item);
      location.href = $(item)[0].attr('href');
        })    
        });