
%form{:action=>search_destinations_path, :method=>:get}
  #destinationSearchForm
    %p
      %label{:for=>"destinationSearch"}
        Where do you want to go?
      %input#destinationSearchForm{:type=>'input'}
      %input{:type=>'submit', :value=>"Plan"}
  

:javascript
  $('#destinationSearchForm').autocomplete('/destinations/search');
 

