%h3
  =t"To-Do List"
  = link_to t("Add"), new_todo_path, :id => "addNewToDo"
#newToDo
  = render :partial=>'form'

%ul#todos_list
  - @todos.each do |todo|
    = render :partial=>'list_item', :object=>todo
        

/ JS for this page in application.j, do a find on "toDoJS"
:javascript
  toDoJS();
    
    