- destination ||= attraction_list_item
- dom_id ||= destination.dom_id

%li{:id=>dom_id}
  = link_to "=>", destination_path(destination)
  = h(destination.name)
  = link_to_remote t('Add'), :url=>destination_trip_item_path(destination)