%li
  %a{ :href => panoramio_pic[:photo_file_url], :class => 'fancybox', :rel => 'gallery' }
    %img{:src => panoramio_pic[:photo_file_url], :alt => panoramio_pic[:photo_title], :title => "#{panoramio_pic[:photo_title]} #{t("by")} #{panoramio_pic[:owner]}", :width => "85", :height => "63"}
  