- trippy ||= list_item
- trip_item ||= nil
- dom_id ||= trip_item.dom_id('in_trip_bar')

- if trippy.city?
  = link_to h(trippy.name), destination_path(trippy)
- else
  .date
  .trippy
    = h(trippy.name)
    = link_to_remote t('Delete'), :url=>trip_item_path(trip_item), :method=>:delete, :confirm=>DELETE_CONFIRM

