.content
  %iframe{:src => "http://www.res99.com/nexres/search/power_search.cgi?src=10022696&city=#{@destination.name}&country=#{@destination.country.iso}", :width=>"800", :height=>"800 px", :scrolling=>"auto"}
  