
%ul
  - @hotels.each do |hotel|
    %li
      = hotel.name
      = "<a href=\"javascript:formatted_hotel_trip_items_ajaxx(#{hotel.id}, 'js', 'POST', {authenticity_token: '#{form_authenticity_token}'})\">Add to trip</a>"