%p
  %h3
    Attractions for
    = @destination.name
%p#destinationIntroduction.static_content
%ul
  = render :partial=>'destinations/attraction_list_item', :collection=>@attractions, :locals => {:parent_destination => @destination}
  = will_paginate(@attractions)