.content
  %h2= t("Attractions in") + " " + @destination.name
  %ul#listing.hidden
    = render :partial=>'destinations/attraction_list_item', :collection=>@attractions, :locals => {:parent_destination => @destination}
    = will_paginate(@attractions)
  #itemInformation
    #itemContent
      = link_to t("close"), "#", :id => 'close'
      %h3 
      %p
  #map.listingMap
    
- content_for :javascripts do
  :javascript
    $(document).ready(function(){
    initializeMap();
    
    var list = $("ul#listing li")
    
    showListingOnMap(list, true);
    });